<div class="container">
        <div id="topheader">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img src="../assets/Images/logo1.png" width="40px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li id="nhome" class="nav-item ">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li id="nprofile" class="nav-item">
                            <a class="nav-link" href="/profile">My Profile</a>
                        </li>
                        <li id="nworkout" class="nav-item">
                            <a class="nav-link" href="/workout">Training</a>
                        </li>
                        <li id="nupcoming" class="nav-item">
                            <a class="nav-link" href="/upcoming">Upcoming</a>
                        </li>
    
                    </ul>
    
                </div>
    
            </nav>
        </div>
    </div>
    <div class="container whitebg">
        <div class="card hovercard">
            <div class="cardheader">
    
            </div>
            <div class="avatar">
                <img alt="" src="../assets/Images/calendar1.png">
            </div>           
    
        </div>
    </div>
    <div class="container whitebg">
        <div class="card-deck">
             <div class="card">
    
                <div class="card-body" style="border: solid 1px #ccc; margin: 10px;">
                    <br/><br/>
                    <div class="card-deck">
                        <div class="col-sm-4" *ngFor="let u of upcoming">
                        <div style="max-width: 18rem;" [class]="setStyles(u.active)">
                                <div class="card-header">{{u.league}} {{u.division}}<br/> {{u.season}} {{u.year}}</div>
                                <div class="card-body">
                                    <h5 class="card-title">{{u.title}}: <br/> {{u.dateOfEvent | date: 'fullDate'}}</h5>
                                    <p class="card-text">{{u.team}} vs {{u.vTeam}}
                                        <span *ngIf="u.timeOfEvent">Time: {{u.timeOfEvent}}</span>
                                    </p>

                                    <br />
                                </div>
                            </div>
                        </div>
                        </div>
                    <br />
                </div>
            </div>
    
        </div>