<!--The content below is only a placeholder and can be replaced.-->

     <router-outlet></router-outlet>



     <div class="container">
        <div class="card blackbg">
            <div class="card-body">
            <p class="text-center" style="color: #A8A8A8;">
                    <i class="fa fa-copyright"></i> 2018 <br> J25 Solutions, LLC
                        All rights reserved.<br/>
                    <i class="small">Ad maiorem Dei gloriam</i>
    
                    </p>
        </div>
    
      </div>
    </div>
