<div class="container">
        <div id="topheader">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"><img src="../assets/Images/logo1.png" width="40px"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li id="nhome" class="nav-item ">
                      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li id="nprofile" class="nav-item">
                      <a class="nav-link" href="/profile">My Profile</a>
                    </li>
                    <li id="nworkout" class="nav-item">
                        <a class="nav-link" href="/workout">Training</a>
                      </li>
                      <li id="nupcoming" class="nav-item">
                        <a class="nav-link" href="/upcoming">Upcoming</a>
                      </li>
                   
                  </ul>
                  
                </div>
        
             </nav>
             </div>
            </div>
<div class="container whitebg">
    <owl-carousel [options]="mySlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">

        <div class="item" *ngFor="let image of mySlideImages;let i = index">
    
        <div class="owl-small d-block d-sm-none"><h4>Yo whats up</h4></div>    
        <div class="owl-text-overlay d-none d-sm-block">
                <h2 class=""><div class="wow slideInRight">"{{image.part1}}<br/><span class="spacer"></span>{{image.part2}}" <i>-{{image.author}}</i></div></h2>
      </div> 
            <div>

                <img src={{image.pic}} class="wow fadeIn "/>
               
            </div>
        </div>
    </owl-carousel>

    <div class="card-deck ">
        <div class="card hovercard wow fadeIn">
            <div class="cardheader">

            </div>
            <div class="avatar">
                <img alt="" src="../assets/Images/joe1.png">
            </div>
            <div class="info ">
                <div class="title">
                    <a href="/profile">My Profile</a>
                </div>
                <div class="desc"></div>
                <div class="desc"></div>
                <div class="desc"></div>
            </div>
            <div class="bottom ">
                <!-- <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="btn btn-danger btn-sm" rel="publisher" href="https://plus.google.com/+ahmshahnuralam">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="btn btn-primary btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
                    <i class="fa fa-behance"></i>
                </a> -->
            </div>
        </div>
        <div class="card hovercard wow fadeIn" >
            <div class="cardheader2">

            </div>
            <div class="avatar">
                <img alt="" src="../assets/Images/workout3.png">
            </div>
            <div class="info">
                <div class="title">
                    <a href="/workout">Training</a>
                </div>
                <!-- <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div> -->
            </div>
            <div class="bottom">
                <!-- <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
              <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="https://plus.google.com/+ahmshahnuralam">
              <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="https://plus.google.com/shahnuralam">
              <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
              <i class="fa fa-behance"></i>
          </a> -->
            </div>
        </div>
        <div class="card hovercard wow fadeIn">
            <div class="cardheader3">

            </div>
            <div class="avatar">
                <img alt="" src="../assets/Images/calendar1.png">
            </div>
            <div class="info">
                <div class="title">
                    <a href="/upcoming">Upcoming</a>
                </div>
                <!-- <div class="desc">Passionate designer</div>
          <div class="desc">Curious developer</div>
          <div class="desc">Tech geek</div> -->
            </div>
            <div class="bottom">
                <!-- <a class="btn btn-primary btn-twitter btn-sm" href="https://twitter.com/webmaniac">
              <i class="fa fa-twitter"></i>
          </a>
          <a class="btn btn-danger btn-sm" rel="publisher"
             href="https://plus.google.com/+ahmshahnuralam">
              <i class="fa fa-google-plus"></i>
          </a>
          <a class="btn btn-primary btn-sm" rel="publisher"
             href="https://plus.google.com/shahnuralam">
              <i class="fa fa-facebook"></i>
          </a>
          <a class="btn btn-warning btn-sm" rel="publisher" href="https://plus.google.com/shahnuralam">
              <i class="fa fa-behance"></i>
          </a> -->
            </div>
        </div>


    </div>

</div>
<div class="container whitebg d-sm-none d-md-block">
        <div class="card-deck ">
    <div class="card hovercard ">
        <div class="cardheader4">

        </div>

    </div>
    </div>
</div>
<div class="container whitebg">

    <div class="card-deck">
        <div class="card">

            <div class="card-body">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pJReMMAkhac" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br />
            </div>
        </div>

        <div class="card">

            <div class="card-body">

                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/6fMDPw9gf9k" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <br />
            </div>
        </div>

    </div>
</div>